! WORKFLOW_CP2K_VERSION: 2024.1
! WORKFLOW_NAME: geo_opt
! WORKFLOW_STATUS: NOT_VALIDATED
! WORKFLOW_SLOT: PROJECT BASIS_FILE POTENTIAL_FILE CELL_A CELL_B CELL_C COORD_BLOCK KIND_BLOCKS EPS_SCF MAX_SCF MAX_FORCE RMS_FORCE MAX_DR RMS_DR
&GLOBAL
  PROJECT {{PROJECT}}
  RUN_TYPE GEO_OPT
  PRINT_LEVEL LOW
&END GLOBAL
&FORCE_EVAL
  METHOD Quickstep
  &DFT
    BASIS_SET_FILE_NAME {{BASIS_FILE}}
    POTENTIAL_FILE_NAME {{POTENTIAL_FILE}}
    CHARGE {{CHARGE}}
    &MGRID
      CUTOFF {{CUTOFF_RY}}
      REL_CUTOFF {{REL_CUTOFF_RY}}
      COMMENSURATE
    &END MGRID
    &SCF
      SCF_GUESS ATOMIC
      EPS_SCF {{EPS_SCF}}
      MAX_SCF {{MAX_SCF}}
      &OT
        MINIMIZER CG
        PRECONDITIONER FULL_KINETIC
      &END OT
      &PRINT
        &RESTART LOW
          ADD_LAST NUMERIC
        &END RESTART
      &END PRINT
    &END SCF
    &XC
      &XC_FUNCTIONAL PBE
      &END XC_FUNCTIONAL
      &VDW_POTENTIAL
        POTENTIAL_TYPE PAIR_POTENTIAL
        &PAIR_POTENTIAL
          TYPE DFTD3(BJ)
          PARAMETER_FILE_NAME {{D3_PARAMETER_FILE}}
          REFERENCE_FUNCTIONAL PBE
        &END PAIR_POTENTIAL
      &END VDW_POTENTIAL
    &END XC
  &END DFT
  &SUBSYS
    &CELL
      A {{CELL_A}} 0.0 0.0
      B 0.0 {{CELL_B}} 0.0
      C 0.0 0.0 {{CELL_C}}
      PERIODIC XYZ
    &END CELL
    &COORD UNIT angstrom
{{COORD_BLOCK}}
    &END COORD
{{KIND_BLOCKS}}
  &END SUBSYS
&END FORCE_EVAL
&MOTION
  &GEO_OPT
    OPTIMIZER LBFGS
    MAX_FORCE {{MAX_FORCE}}
    RMS_FORCE {{RMS_FORCE}}
    MAX_DR {{MAX_DR}}
    RMS_DR {{RMS_DR}}
    MAX_ITER {{MAX_ITER}}
  &END GEO_OPT
&END MOTION
